<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-15" />
		<link type="text/css" rel="stylesheet" href="style.css" />
	</head>
	<body>
        <a href="/home/jeffwrh/Documents/Projets/INTERFACE/Interface/.static/Fichiers/Sans_nom_1.odt">Texte à afficher sur la page</a>
<!--		<object data="/home/jeffwrh/Documents/Projets/INTERFACE/Interface/.static/Fichiers/Sans_nom_1.odt" type="text/html" />-->
	</body>
</html>